
<app-header></app-header>

<div class="wrapper">

  <div class="home-container">
    <div class="banner">
      <img src="../../assets/img/1560x349-banner.webp" alt="test">

    </div>

    <div class="categories" >
        <img src="../../assets/img/500x500-portatiles.webp" alt="test" *ngFor="let item of categoriesList">
    </div>

    <div class="secondary-categories" >
      <img src="../../assets/img/500x500-portatiles.webp" alt="test" *ngFor="let item of secondaryCategoriesList">
  </div>
  </div>

</div>
